<% provide(:title, 'New comment') %>
<div class="posts">
  <p class='post-content'><%= @post.content %></p>
  <p class='post-likes'>
    <% if @post.user.name %>
      <%= @post.user.name %> - 
    <% else %>
      <%= @post.user.email %> -
    <% end %>
    <% if post_liked?(@post) %>
      <%= link_to " ", find_postlike(@post) , method: :delete, :class => "far fa-thumbs-up icons" %>
      <%= @post.postlike.count %>
    <% else %>
      <%= link_to " ", postlikes_path(:post_information => { :post_id => @post.id, 
                                                             :user_id => current_user.id }),
                                      method: post, :class => "far fa-thumbs-up icons icon-grey" %>
      <%= @post.postlike.count %>
    <% end %>
  </p>
</div>
<div class="row">
  <div class="new-post">
    <%= form_for(:comment, url: post_comments_path) do |f| %>
      <%= f.label "What's in your mind:" %>
      <%= f.text_area :comment_content, class: "comment-area form-control" %>

      <%= f.submit "New Comment", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>