<% posts = [] %>
<% current_user.posts.each do |post| %>
  <% posts << post %>
<% end %>
<% posts.each do |post| %>
  <div class="index-posts">
    <p class='post-content'><%= post.content %></p>
    <p class='post-likes'>
      <%= post.user.first_name if post.user.first_name %>
      <%= post.user.last_name if post.user.last_name %>
       - Likes: <%= post.postlike.count %></p>
  </div>
  <div class="comments">
    <ul>
     <% if post.comments.any? %>
        <%post.comments.each do |comment|%>
          <li class="comment-item"> <%= comment.comment_content %> </li>
          <li class="comment-item-author"> <%= comment.user.first_name%></li>
        <%end%>
      <%end%>
    </ul>
  </div>
<% end %>