<div class="col-md-4 col-sm-6">
  <div class="user-block">
    <span class="pr-10"><%= gravatar_for user, size: 150 %></span>
    <ul>
      <li><h4>
        <%= user.first_name %>
        <%= user.last_name %>
      </h4></li>
      <li><h5><%= user.email %></h5></li>
      <li>
        <% if user.birthday %>
          <h4>Age: <%= age(user.birthday) %></h4>
        <% end %>
      </li>
      <li>
        <%= link_to "Profile", user_path(user) %> | 
        <% if current_user == user %>
          <%= link_to 'Edit profile', edit_user_registration_path %>
        <% elsif friendship_status(user).nil? %>
          <%= link_to 'Add friend', friendships_new_path(:friend_information => {:sender => current_user.id, 
                                                                                 :receiver => user.id }), method: :post %>
        <% elsif friendship_status(user) == 'wasrequested' %>
          <%= link_to 'Accept', edit_friendship_path(get_friendship(user).id) %> |
          <%= link_to 'Reject', friendship_path(get_friendship(user).id), method: :delete %>
        <% elsif friendship_status(user) == 'irequested' %>
          <%= link_to 'Cancel request', friendship_path(get_friendship(user).id), method: :delete %>
        <% elsif friendship_status(user) == 'friends' %>
          <%= link_to 'Unfriend', friendship_path(get_friendship(user).id), :data => { :confirm => 'Are you sure?' }, method: :delete %>
        <% end %>
      </li>
    </ul>
  </div>
</div>