<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.first_name %>
        <%= @user.last_name %>
      </h1>
      <h2>
        <%= @user.birthday %>
        <%= @user.email %>
      </h2>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <% @user.posts.each do |post| %>
        <ol class="posts">
          <%= post.content %>
        </ol>
      <% end %>
    <% end %>
  </div>
</div>