<div class="row">
  <aside class="col-md-4">
    <section class="user_info user-space text-center">
      <h1><%= gravatar_for @user %></h1>
      <h1>
        <%= @user.first_name %>
        <%= @user.last_name %>
      </h1>
      <h3><%= @user.email %></h3>
      <% if @user.birthday %>
        <h3>Age: <%= age(@user.birthday) %></h3>
      <% end %>
      <% if @user == current_user %>
        <%= link_to "Edit profile", edit_user_registration_path %>
      <% else %>
      <%= link_to 'Unfriend', friendship_path(get_friendship(@user).id), 
            :data => { :confirm => 'Are you sure?' }, method: :delete %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.posts.any? %>
      <h3>Posts (<%= @user.posts.count %>)</h3>
      <%= render 'posts/posts_with_comments', :posts => @user.posts %>
    <% end %>
  </div>
</div>
