<% posts.each do |post| %>
  <div class="posts">
    <p class='post-content'><%= post.content %></p>
    <p class='post-likes'>
      <%= post.user.first_name if post.user.first_name %>
      <%= post.user.last_name if post.user.last_name %> -
      <% if post_liked?(post) %>
        <%= link_to "Liked", find_postlike(post) , method: :delete %>
        <%= post.postlike.count %></p>
      <% else %>
        <%= link_to "Not Liked", new_postlike_path(post.id) %>
        <%= post.postlike.count %></p>
      <% end %>
    <div class="comments">
      <ul>
        <% if post.comments.any? %>
          <%post.comments.each do |comment|%>
            <li class="comment-item"> <%= comment.comment_content %> </li>
            <li class="comment-item-author">
              <%= comment.user.first_name%>
              <%= comment.user.last_name%>
               - Likes: <%= comment.comment_like.count %>
            </li>
          <%end%>
        <%end%>
      </ul>
    </div>
  </div>
<% end %>
