<% posts.each do |post| %>
  <div class="posts">
    <p class='post-content'><%= post.content %></p>
    <%= image_tag post.picture.url if post.picture? %>
    <div class='post-likes'>
      <p>
        <% if post.user.first_name || post.user.last_name %>
          <%= post.user.first_name %>
          <%= post.user.last_name %> - 
        <% else %>
          <%= post.user.email %> - 
        <% end %>
        <% if post_liked?(post) %>
          <%= link_to " ", find_postlike(post) , method: :delete, :class => "far fa-thumbs-up icons" %>
          <%= post.postlike.count %>
        <% else %>
          <%= link_to " ", postlikes_path(:post_information => { :post_id => post.id, 
                                                                 :user_id => current_user.id }),
                                          method: post, :class => "far fa-thumbs-up icons icon-grey" %>
          <%= post.postlike.count %>
        <% end %>
      </p>
      <p><%= link_to "Create a comment", new_post_comment_path(post.id) %></p>
    </div>
    <div class="comments">
      <ul>
        <% if post.comments.any? %>
          <%post.comments.each do |comment|%>
            <li class="comment-item"> <%= comment.comment_content %> </li>
            <li class="comment-item-author">
              <% if comment.user.first_name || comment.user.last_name %>
                <%= comment.user.first_name %>
                <%= comment.user.last_name %> -
              <% else %>
                <%= comment.user.email %> -
              <% end %>
              <% if comment_liked?(comment) %>
                <%= link_to " ", commentlike_path(find_commentlike(comment)), method: :delete, :class => "far fa-thumbs-up icons" %>
                <%= comment.comment_like.count %></p>
              <% else %>
                <%= link_to " ", commentlike_index_path(:comment_information => { :comment_id => comment.id, 
                                                                                          :user_id => current_user.id }), 
                                                                method: post, :class => "far fa-thumbs-up icons icon-grey" %>
                <%= comment.comment_like.count %></p>
              <% end %>
            </li>
          <%end%>
        <%end%>
      </ul>
    </div>
  </div>
<% end %>
